<h1>batman-vs-superman</h1>

<div class="batman">
	<p><a href="<%= pages_batman_path %>">Ir a BATMAN</a></p>

	<form action="<%= pages_save_batman_path %>"  method="POST">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<label for="fname">Tu Nombre</label>
		<input type="text" name="nombre">
		<label for="femail">Tu Email</label>
		<input type="text" name="email">
		<input type="submit" >
	</form>

</div>

<div class="superman">
	<p><a href="<%= pages_superman_path %>">Ir a SUPERMAN</a></p>

	<form action="pages_save_superman_path" method="POST">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<label for="fname">Tu Nombre</label>
		<input type="text" name="nombre">
		<label for="femail">Tu Email</label>
		<input type="text" name="email">
		<input type="submit" >
	</form>
</div>